.cabec__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../image/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    }

.container__botao:checked~.container__menu>.cabec__menu-hamburguer{
    background-image: url("../image/Menu_Aberto.svg");
}

.container__botao:checked~.container__menu {
    background: var(--azul-degrade);
}

.cabec{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* habilita movimentacao do menu */
    position: relative;
    /* font-family: 'Poppins', sans-serif;
    font-size: 16px;     */
}

.container {
    display: flex;
    align-items: center;
}
.container__imagem{
    padding: 1em;
}
/* retira a lista do menu */
.lista-menu{
    display: none;
    /* ajusta posicao do menu para 100% abaixo do elemento pai, q neste caso é o botao 'menu' */
    position: absolute;
    top: 100%;
    /* tamanho do fundo do menu - opcao x% do comprimento da tela (width)  */
    width: 60vw;
}

/* exibir a lista qdo o checkbox selecionado 
comando ~ é uma condicional do CSS*/
.container__botao:checked ~ .lista-menu{
    display: block;
}
.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);

}
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
    
}
.lista-menu__item{
    font-weight: 400;
}
.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto{
    display: none;
}

/* media queries - ajusta layout da pagina conforome a resolução do dispositivo */
/* layout tablet*/
@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
    }
    .container__titulo {
        font-weight: 400;
        display: block;
        text-decoration: none;
    }
    .container__titulo--negrito {
        font-weight: 700;
    }
    .opcoes {
        display: flex;
    }
    .opcoes__item {
        padding: 1em 1em;
        text-transform: uppercase;
    }

    .container__imagem-transparente {
        display: none;
        
    }
    .opcoes__link{
        text-decoration: none;
        color: black;
    }
    .cabec__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
        color: var(--azul-degrade);
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__menu>.opcoes__item{
        background: var(--azul-degrade);
        color: rgb(255, 255, 255);
    }
    
    .lista-menu__item:hover {
        /* azul degrade nao funciona no backgroud-color */
        background: var(--azul-degrade);
    }
/*  para mudar a cor do texto precisamos usar o "webkit" devido a configuração de transparencia
     e aplicação do fundo degrade na cor da fonte.
    O WebKit foi desenvolvido pela Apple e é baseado no projeto KHTML.
    Ele possui suporte a diversos recursos e tecnologias da web, como 
    animações CSS, transições, transformações 3D, entre outros.*/

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}
/* layout desktop*/
@media screen and (min-width: 1728px) {
    
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabec {
        padding: 0 2em;
    }
    /* qdo usamos o flex e margin=auto, será preenchido todo o espaço livre da pagina */
    .opcoes {
        margin-right: auto;
    }
    .container__texto{
        display: block;
    }
    
}